.row,
.footer {
    justify-content: space-between;
}

.footer {
    color: white;
    background-color: rgb(42, 40, 40);
    height: 90px;
    margin-top: 40px;
}

.info {
    padding: 10px;
}

.social {
    height: 20px;
    margin: 5px;
}