.col-header {
    font-weight: 700;
    color: white;
}

.header {
    background-color: orange;
    margin-bottom: 30px;
    padding-top: 2px;
}

.row,
.header {
    align-items: center;
    justify-content: space-around;
}

.genr {
    margin: 5px
}

.titolo {
    margin-right: 110px;
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.card-header {
    position: relative;
    display: block;
}